.project-empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mock-table-list {
  & .ant-table-cell {
    word-break: keep-all;
  }
}

.data-editor-class {
  height: 100%;

  & .ant-spin-container {
    height: 100%;
  }
}